# This file contains common pin mappings for the BIGTREETECH can0
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu can0]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 902bd95f34cc

[adxl345]
cs_pin: can0: PB12
spi_software_sclk_pin: can0: PB10
spi_software_mosi_pin: can0: PB11
spi_software_miso_pin: can0: PB2
axes_map: -x,y,z

[extruder]
step_pin: can0: PD0
dir_pin: !can0: PD1
enable_pin: !can0: PD2
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: can0: PA2
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: can0: PA3
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 300

# sensor_type:MAX31865
# sensor_pin: can0: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: can0: PA15
run_current: 0.650
stealthchop_threshold: 999999

[fan]
pin: can0: PA0

[heater_fan hotend_fan]
pin: can0: PA1
heater: extruder
heater_temp: 50.0

[neopixel sb_leds]
pin: can0: PD3
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.#

# Most configuration for the macros can be done by modifying the variables in the _sb_vars macro
# at the start of this file.

#[bltouch]
#sensor_pin: ^can0:PB8
#control_pin: can0:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: can0:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^can0:PB3
